.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.budgetSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  margin-top: 50px;
  padding: 30px;
  border-radius: 13px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.btnAddNew {
  width: 260px;
  height: 40px;
  padding: 12px 35px 12px 35px;
  background-color: #1ea585;
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
  opacity: 0.8;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}

.btnAddNew:hover {
  opacity: 1;
}

.editionSection {
  display: flex;
  justify-content: flex-end;
}

.btnEdit {
  align-items: center;
  background-color: #fff;
  border: 1px solid #1ea585;
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 12px 30px 12px 30px;
  right: 0;
  text-decoration: none;
  color: #1ea585;
  transition: 0.3s;
  width: 25px;
}

.btnEdit:hover {
  color: #f7f8f6;
  background-color: #1ea585;
}

.mainLists {
  padding-top: 40px;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.costsList {
  display: flex;
  justify-content: start;
  width: 450px;
}

.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 0;
}

.moneyRatio {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.titleBudgetCalculation {
  padding: 10px;
  margin-left: 15px;
  font-size: 14px;
  color: grey;
}

.totalTripCosts {
  font-size: 25px;
  margin-left: 45px;
  font-weight: 600;
}

.totalBudget {
  padding-top: 12px;
  margin-left: 45px;
  font-size: 14px;
  color: grey;
}

.mainBar {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 35px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
}

.smallBar {
  height: 35px;
  background-color: #1ea585;
  transition: width 0.5s;
  border-radius: 20px;
}

.red {
  background-color: rgb(130, 8, 8);
}

.costList {
  padding: 0px;
}

.errorMsg {
  align-content: center;
  font-size: 12px;
  color: white;
  height: 35px;
  padding-left: 10px;
}

.costListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 13px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.costComponentUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.costComponentLower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.costDescription {
  margin-left: 5px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.costCategory {
  margin-left: 5px;
  font-size: 14px;
  color: grey;
}

.btnCat{
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
  background-color: #1ea585;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
}

.btnCat:hover{
  background-color: #198169;
}
