.daysList {
  display: block;
  list-style-type: none;
  width: 750px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.dateComp {
  background-color: #dbeae7;
  padding: 10px;
}

.activityDetailsComp {
  border-top: 1px solid #dbeae7;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}

.initialItemText {
  color: #cad0d0;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-top: 10px;
}

.timeComp {
  display: flex;
  flex-basis: 90px;
  font-size: 14px;
  justify-content: center;
  margin-left: 30px;
  margin-right: 20px;
}

.groupComp {
  color: rgb(21, 120, 25);
  font-weight: bold;
  margin-right: 30px;
}

.textComp {
  margin-right: 30px;
  padding: 0px;
  width: 405px;
}

.location {
  color: #4cad9a;
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.additionalInfoText {
  color: #727575;
  font-size: 14px;
  max-width: 415px;
  overflow-wrap: break-word;
}

.detailsCompButtons {
  margin-right: 30px;
  padding-top: 0px;
}

.btnEdit {
  align-items: center;
  background-color: #fff;
  border: 1px solid #1ea585;
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-top: 5px;
  padding: 12px 30px 12px 30px;
  right: 0;
  text-decoration: none;
  color: #1ea585;
  transition: 0.3s;
  width: 25px;
}

.btnEdit:hover {
  background-color: #f8f6f6;
  color: #1ea585;
}
