@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");


.appHeader {
  display: flex;
  align-items: center;
  background-color: #2b2b2f;
  height: 200px;
  color: white;

}

.title {
  display: flex;
  text-align: left;
  margin-left: 70px;
  width: 300px;
  height: 100px;
  color: #d18b24;
  -webkit-text-stroke: 2px black;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}

ul {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #020202;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #fafafa;
  box-shadow: 0px 0px 20px 0px #a56f1e;
}

.menu-list-item {
  margin-left: 70px;
  margin-right: 70px;
  text-align: center;
  position: relative;
}

.menu-list-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 1.5px;
  background-color: #f8f8f8;
  transition: right 0.3s ease-in-out; /* Add this line for smooth transition */
}

.menu-list-item:hover::before {
  right: 0;
  background-color: #a56f1e;
}

.menu-list-item.active {
  color: #a56f1e;
  -webkit-text-stroke: 0.3px rgb(61, 57, 57);
}

.menu-list-item.active::before {
  height: 0;

}
